<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://lh3.googleusercontent.com/-fsPXAtkuEmQ/VSOXf3MdcCI/AAAAAAAAAv4/4DQ3SRDqnRY/w2009-h2012/20141219_113950.jpg" />
    <h2>Iliyaz Syed</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"  routerLinkActive="active" routerLink = "../dashboard/user"><span>Resume</span></li>
    <li tabindex="0" class="icon-customers" routerLinkActive="active" routerLink = "../dashboard/projects"><span>Projects</span></li>
  </ul>
</nav>
