@import "app/components/less/variables.less";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.active{background-color: rgba(0,0,0,0.1)}

button:focus {
     outline: 0px; 
}
.build-2{
	background-color: #b5ffe0;
}

body{
	background:@main-background;
	margin:0;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#fff;
	padding-left:@menu-width-desktop;
}

main{
	position:relative;
	height:100vh;
  background-color: #b5ffe0;

	.main-content{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate3d(-50%,-50%,0);
    width: 70%;

	}
}


@media screen and (max-width:900px) and (min-width:400px){
  main{
  .main-content{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate3d(-50%,-50%,0);
    width: 90%;

	}
  }
	body{
		padding-left:@menu-width-tablet;
	}
}

@media screen and (max-width:400px){
  main{
  .main-content{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate3d(-50%,-50%,0);
    width: 90%;

	}
  }
	body{
		padding-left:0;
	}

}



*::-webkit-scrollbar-track{
	-webkit-scrollbar-track-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ddffe2;
}

*::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-scrollbar-track-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: @color-2nd;
}