
<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
	<ul>
		<li tabindex="0"
			 class="icon-welcome"
			 routerLinkActive="active"
				routerLink = ""
				[routerLinkActiveOptions]="{exact:true}" ><span>Welcome!</span></li>
    <li tabindex="0"
		    class="icon-dashboard"
				routerLinkActive="active"
				routerLink = "/login"><span>Login</span></li>
    <li tabindex="0"
		    class="icon-customers"
				routerLinkActive="active"
				 routerLink = "/guestenter" ><span>Enter As Guest</span></li>

  </ul>
</nav>
