<div mat-dialog-content >

<mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper" class="ForgotPassword">
  <mat-step [stepControl]="emailGroup">
    <form [formGroup]="emailGroup" (submit)="emailGroupSubmit()">
      <ng-template matStepLabel>Enter email</ng-template>
      <mat-form-field class="dialogInputs">
        <input matInput placeholder="enter email" formControlName="email">
          <fa matSuffix
             *ngIf="emailGroup.controls['email'].valid"
              name="check"
              style="color:#5bc995;"></fa>
          <fa *ngIf="emailGroup.controls['email'].hasError('EmailNotFound')"
               matSuffix 
               name="times"
               size="1x" 
               style="color:red; font-weight:100;"></fa>
          <fa *ngIf="emailGroup.controls['email'].pending"
               matSuffix name="spinner" 
               animation="spin" size="1x"
               style="color:#5bc995"></fa>
          <mat-error *ngIf="emailGroup.controls['email'].hasError('required')">
             Please fill the email
          </mat-error>
          <mat-error *ngIf="emailGroup.controls['email'].hasError('EmailNotFound')">
             email not registered
          </mat-error>
          <mat-error *ngIf="!emailGroup.controls['email'].hasError('required')&&
          emailGroup.controls['email'].hasError('email')">
             Please enter a valid email
          </mat-error>
      </mat-form-field>
      
        <button mat-button matStepperNext type="submit">next</button>
    </form>
  </mat-step>


  <mat-step [stepControl]="questionGroup">
    <form [formGroup]="questionGroup" (submit)="questionGroupSubmit()">
      {{hintQuestion}}
      <ng-template matStepLabel>Security question</ng-template>
      <mat-form-field class="dialogInputs">
        <input matInput placeholder="Answer" formControlName="question">
             <fa matSuffix 
                *ngIf="questionGroup.controls['question'].valid" 
                 name="check"
                 style="color:#5bc995;"></fa>
             <fa *ngIf="questionGroup.controls['question'].hasError('SecurityAnswerWrong')"
                  matSuffix
                  name="times"
                  style="color:red;"></fa>
             <fa *ngIf="questionGroup.controls['question'].pending" 
                  matSuffix 
                  name="spinner"
                  animation="spin"
                  style="color:#5bc995"></fa>
          <mat-error *ngIf="questionGroup.controls['question'].hasError('required')">
            please fill the answer
          </mat-error>
          <mat-error *ngIf="questionGroup.controls['question'].hasError('SecurityAnswerWrong')">
            answer is incorrect
          </mat-error>
      </mat-form-field>

      <div class="row">
          <div class="col-6">
            <button mat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6">
            <button mat-button matStepperNext type="submit">Next</button>
          </div>
      </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="resetPassword">
      <form [formGroup]="resetPassword"  (submit)="passwordReset()">
        <ng-template matStepLabel>Reset password</ng-template>
        <mat-form-field class="dialogInputs">
          <input matInput placeholder="enter password" formControlName="passwordEnter">
        <mat-error *ngIf="resetPassword.controls['passwordEnter'].hasError('required')">
          Please fill the password
        </mat-error>
        <mat-error *ngIf="!resetPassword.controls['passwordEnter'].hasError('required')&&
         resetPassword.controls['passwordEnter'].hasError('minlength')">
          password must be minimum 8 letters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="dialogInputs">
        <input matInput placeholder="re-enter password" formControlName="passwordReEnter">
        <mat-error *ngIf="resetPassword.controls['passwordReEnter'].hasError('required')">
          Please fill the password
        </mat-error>
        <mat-error *ngIf="!resetPassword.controls['passwordReEnter'].hasError('required') &&
                           resetPassword.controls['passwordReEnter'].hasError('MatchPassword')">
              Password must match
         </mat-error>
       </mat-form-field>
        <div class="row">
          <div class="col-6">
           <button mat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-6">
           <button mat-button matStepperNext type="submit">Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
    <ng-template matStepLabel>Finished</ng-template>
      <div class="resetFinalStep"><fa name="check" size="2x"></fa>password changed!</div>
    </mat-step>
</mat-vertical-stepper>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="complete()" class="cancel-btn-login">Done</button>
</div>